<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">Your Forecast</h1>
    <p class="lead">
    	<p id="notice"><%= notice %></p>

    	<div class="weather">
    	<p>
    	  <strong>Lat:</strong>
    	  <%= @forecast.lat %>
    	</p>

    	<p>
    	  <strong>Lng:</strong>
    	  <%= @forecast.lng %>
    	</p>

    	
    	The weather is:  <%= @current_weather.summary %> and <%= @current_weather.temperature %>

    	<br/>
    	<br/>

    	<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
    	<%= link_to 'Back', forecasts_path %>
    	</div>



    </p>
  </div>
</div>


